.card {
    margin: auto;
    width: 40vw;
    padding: 10px;
}

form>div {
    padding: 10px;
}

.card-link {
    padding: 15px;
}

.form-control {
    margin: auto;
    width: 20vw;
}

.form-control.error {
    border-color: #E74C3C;
}

.form-control.success {
    border-color: green;
}

div.error {
    color: #E74C3C;
}

.name-container {
    display: flex;
    justify-content: space-between;
}

.name-container2 {
    justify-content: left;
}

.name-container3 {
    justify-content: right;
}

.indent {
    text-indent: .6em;
}

img {
    width: 2.7em;
    height: 1.7em;
}

.hide {
    display: none;
}