body {
    background: #e8e1cc;

}

.card-title,
h6 {
    color: white;
}

.card-body {
    color: white;
    background-color: #333;
}

.card {
    margin: auto;
    width: 40vw;
    padding: 10px;
}

form>div {
    padding: 10px;
}

.card-link {
    padding: 15px;
}

.form-control {
    margin: auto;
    width: 20vw;
}

.form-control.error,
.form-select.error {
    border-color: #E74C3C;
}

.form-control.success,
.form-select.success {
    border-color: rgb(70, 211, 70);
}

div.error {
    color: #E74C3C;
}

.name-container {
    display: flex;
    justify-content: space-between;
}

.name-container2 {
    justify-content: left;
}

.name-container3 {
    justify-content: right;
}

.indent {
    text-indent: .6em;
}

img {
    width: 2.7em;
    height: 1.7em;
}

.hide {
    display: none;
}