.card {
    margin: auto;
    width: 40vw;
    margin-top: 30vh;
    padding: 10px;
}

form>div {
    padding: 10px;
}

.card-link {
    padding: 15px;
}

.form-control {
    margin: auto;
    width: 20vw;
}

.name-container {
    display: flex;
    justify-content: space-between;
}

.name-container2 {
    display: flex;
    justify-content: left;
}

.name-container3 {
    display: flex;
    justify-content: right;
}